:root{
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;

}


*{
    color:var(--fontColor);
    font-family: monospace;
}

body{
    background: var(--bg);
}

ul{
    font-family: Helvetica;
}

li{
    list-style: circle;
}

.light-theme{
    --bg:var(--green);
    --fontColor:var(--black);
    --btnBg:var(--black);
    --btnFontColor:var(--white)
}


.dark-theme{
    --bg:var(--black);
    --fontColor:var(--green);
    --btnBg:var(--white);
    --btnFontColor:var(--black)
}

.btn {
    position: absolute;
    top: 30px;
    left: 260px;
    height: 60px;
    width: 60px;
    border-radius: 60%;
    border:#ffffff;
    color:var(--btnFontColor);
    background-color:var(--btnBg) ;
}


